<ion-header>
  <ion-navbar>
    <ion-title>
      QR Exchange
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <button ion-button full icon-left (click)="goToCredentialsPage()"><ion-icon name="ion-android-person"></ion-icon>My credentials</button>
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>
 
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>